.App {
  padding-bottom: 50px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  margin-bottom: 40px;
  background-color: #222;
  height: 165px;
  padding: 20px;
  color: white;
}

.App-title {
  margin-top: 15px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form-error{
  color: #dc3545;
  text-align: left;
  margin: 10px 0;
  display: block;
}

.movie__details-btn{
  margin: 20px;
}

.movie__not-select{
  font-size: 20px;
}


.movie__list-item{
  display: list-item!important;
  cursor: pointer;
  text-align: left;
}

.movie__load-label{
  display: block;
  font-size: 18px;
  text-align: left;
}

.form-group label{
  font-size: 18px;
}

.movie__detail-list{
  margin-top: 20px;
}

.movie__btn-wrap{
  text-align: left;
  margin-top: 20px;
}

.movie__new-title{
  margin-bottom: 30px;
}

.movie__list-link{
  color: #212529;
}

.movie__list-link:focus{
  color: #212529;
}

.movie__list-link:hover{
  text-decoration: none;
}

.movie__list-item:hover .movie__list-link{
  color: #764ABC;
}


.movie__img{
  width: 100%;
}

.movie__img-wrap{
  position: relative;
}

.movie__img-title{
  position: absolute;
  top: 50%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 43%;
  height: 70%;
  color: white;
  font-size: 28px;
  line-height: 1;
  background: rgba(0, 0, 0, 0.28);
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie_sort{
  margin-bottom: 0;
  cursor: pointer;
}

.movie__not-wrap{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.movie__not-select{
  margin-bottom: 60px;
}

@media screen and (max-width: 767px){
  .movie__list {
    order: 1
  }

  ol{
    padding-left: 20px;
  }
}

